<div>
  <div class="container-social">
    <a href="#" 
      class="social-media">
      <ion-icon 
        name="logo-google" 
        size="large" 
        class="icon-color">
      </ion-icon>
    </a>

    <a href="#" 
      class="social-media">
      <ion-icon 
        name="logo-facebook" 
        size="large" 
        class="icon-color">
      </ion-icon>
    </a>

    <a href="#" 
    class="social-media">
      <ion-icon 
        name="logo-instagram" 
        size="large" 
        class="icon-color">
      </ion-icon>
    </a>
  </div>
</div>