<app-header></app-header>

<ion-content>
  <div class="container-cards" *ngIf="pageableProducts; else loading">
    <app-product-card 
      *ngFor="let product of pageableProducts"
      [value]="product">
    </app-product-card>
  </div>

  <app-pagination
    (pageChange)="paginate($event)"
    [totalRecords]="totalRecords">
  </app-pagination>
</ion-content>

<ng-template #loading>
  <div class="container-loading">
    <ion-spinner 
      color="primary" 
      name="crescent">
    </ion-spinner>
  </div>
</ng-template>

<ion-footer>
  <ion-toolbar>
    <app-menu-tab></app-menu-tab>
  </ion-toolbar>
</ion-footer>
