.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.container-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 992px) {

  .container-cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    height: fit-content;
  }
}