img {
  width: 120px;
  height: 64px;
}

ion-card {
  width: 152px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: .5rem;
}

ion-card-subtitle {
  text-align: center;
}

ion-card-header,
ion-card-content {
  padding: 0;
}