<body>
	<main class="container">
		<h2 class="title">Cadastro</h2>
		<form 
			[formGroup]="this.registerForm"
			class="container-form">
			<div class="container-input">
				<ion-item fill="outline">
					<ion-label position="floating">Nome</ion-label>
					<ion-input 
						type="email" 
						placeholder="Fulano da silva"
						formControlName="name">
					</ion-input>
				</ion-item>
				<ion-text color="danger" *ngIf="submitValidationRequired()">
					<p class="error-message">É necessario preencher o campo Nome</p>
				</ion-text>
			</div>
			

			<div class="container-input">
				<ion-item fill="outline">
					<ion-label position="floating">Email</ion-label>
					<ion-input 
						type="password" 
						placeholder="exemplo@exemplo.com.br"
						formControlName="email">
					</ion-input>
				</ion-item>
				<ion-text color="danger" *ngIf="submitValidationRequired()">
					<p class="error-message">É necessario preencher o campo E-mail</p>
				</ion-text>
			</div>

			<div class="container-input">
				<ion-item fill="outline">
					<ion-label position="floating">Senha</ion-label>
					<ion-input 
						type="password" 
						placeholder="********"
						formControlName="password">
					</ion-input>
				</ion-item>
				<ion-text color="danger" *ngIf="submitValidationRequired()">
					<p class="error-message">É necessario preencher o campo Senha</p>
				</ion-text>
			</div>

			<div class="container-input">
				<ion-item fill="outline">
					<ion-label position="floating">Confirmar Senha</ion-label>
					<ion-input 
						type="password"
						formControlName="confirmPassword">
					</ion-input>
				</ion-item>
				<ion-text color="danger" *ngIf="submitValidationRequired()">
					<p class="error-message">É necessario preencher o campo Confirmar Senha</p>
				</ion-text>
			</div>

			<div class="container-input">
				<div class="container-checkbox">
					<ion-checkbox 
						slot="start"
						formControlName="accept">
					</ion-checkbox>
					<ion-label class="text">Você aceita os termos de uso</ion-label>
				</div>
				<ion-text color="danger" *ngIf="submitValidationRequired()">
					<p class="error-message">É necessario que você aceite os termos de uso</p>
				</ion-text>
			</div>

			<ion-button 
				color="tertiary" 
				shape="round"
				(click)="onSubmit()">
				Cadastrar
			</ion-button>
		</form>

		<p class="text">Ou cadastre-se usando uma rede social</p>

		<app-social-media></app-social-media>

		<div class="container-link">
			<p class="text">Já possui uma conta? </p>
			<a href="/sign/login" class="text">Login</a>
		</div>
	</main>
</body>