<body>
	<main class="container">
		<h2 class="title">login</h2>
		<form action="" class="container-form">
			<ion-item fill="outline">
				<ion-label position="floating">Nome</ion-label>
				<ion-input type="email" placeholder="Fulano da silva"></ion-input>
			</ion-item>

			<ion-item fill="outline">
				<ion-label position="floating">Email</ion-label>
				<ion-input type="password" placeholder="exemplo@exemplo.com.br"></ion-input>
			</ion-item>

			<ion-item fill="outline">
				<ion-label position="floating">Senha</ion-label>
				<ion-input type="password" placeholder="********"></ion-input>
			</ion-item>

			<ion-item fill="outline">
				<ion-label position="floating">Confirmar Senha</ion-label>
				<ion-input type="password"></ion-input>
			</ion-item>

			<div class="container-checkbox">
				<ion-checkbox slot="start"></ion-checkbox>
				<ion-label class="text">Você aceita os termos de uso</ion-label>
			</div>

			<ion-button color="tertiary" type="submit" shape="round">
				Cadastrar
			</ion-button>
		</form>
		<p class="text">Ou cadastre-se usando uma rede social</p>
		<div>
			<div class="container-social">
				<div class="social-media"></div>
				<div class="social-media"></div>
				<div class="social-media"></div>
			</div>
			<div class="container-link">
				<p class="text">Já tem uma conta? Ir para</p>
				<a href="" class="text">Login</a>
			</div>
		</div>
	</main>
</body>