<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="account">
      <img src="../../../../../assets/images/inventory_2.svg" alt="" class="icon">
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <img src="../../../../../assets/images/attach_money.svg" alt="" class="icon">
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <img src="../../../../../assets/images/person.svg" alt="" class="icon">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>