/* Ionic variables*/
:root {
	--ion-color-primary: #113112;
	--ion-color-primary-rgb: 17,49,18;
	--ion-color-primary-contrast: #FAFAFA;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0f2b10;
	--ion-color-primary-tint: #29462a;

	--ion-color-secondary: #69956B;
	--ion-color-secondary-rgb: 105,149,107;
	--ion-color-secondary-contrast: #131313;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #5c835e;
	--ion-color-secondary-tint: #78a07a;

	--ion-color-tertiary: #226325;
	--ion-color-tertiary-rgb: 34,99,37;
	--ion-color-tertiary-contrast: #FAFAFA;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #1e5721;
	--ion-color-tertiary-tint: #38733b;

	--ion-color-success: #28ba62;
	--ion-color-success-rgb: 40,186,98;
	--ion-color-success-contrast: #131313;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #23a456;
	--ion-color-success-tint: #3ec172;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #131313;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #B3261E;
	--ion-color-danger-rgb: 179,38,30;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #9e211a;
	--ion-color-danger-tint: #bb3c35;

	--ion-color-medium: #697069;
	--ion-color-medium-rgb: 105,112,105;
	--ion-color-medium-contrast: #FAFAFA;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #5c635c;
	--ion-color-medium-tint: #787e78;

	--ion-color-light: #CCCCCC;
	--ion-color-light-rgb: 204,204,204;
	--ion-color-light-contrast: #131313;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #b4b4b4;
	--ion-color-light-tint: #d1d1d1;
}