@import "src/assets/styles/styles.scss";

* {
  // outline: 1px solid red;
}

.container {
  &-header {
    background-color: $color-brand-green-500;

    .btn {
      color: $bg-color-white-900;
    }
  }
}

ion-content {
  --background: #417944;
}

ion-label {
  color: $ion-color-primary;
}

.container-filter-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
}

.container-values {
  display: flex;
}