<div id="filter-content">
  <ion-menu-toggle menu="filter-menu">
    <ion-button class="ion-margin" shape="round" color="tertiary">
      <ion-icon slot="start" name="options-sharp" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-menu-toggle>
</div>

<ion-menu contentId="filter-content" menuId="filter-menu">
  <ion-header class="container-header">
    <ion-menu-toggle>
      <ion-button class="ion-margin-top ion-margin-bottom btn" shape="round" fill="clear">
        <ion-icon slot="start" name="options-sharp"></ion-icon>
        Filtrar Produtos
      </ion-button>
    </ion-menu-toggle>
  </ion-header>

  <ion-content class="container-content" >
    <form [formGroup]="this.filterForm">
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="tertiary">
            <ion-label>Filtros</ion-label>
          </ion-item>
  
          <div class="ion-padding" slot="content">
            <ion-radio-group formControlName="filter" value="price" >
              <div class="container-filter-input">
                <ion-radio 
                  value="price" 
                  color="primary">
                </ion-radio>
                <ion-label>Preço</ion-label>
              </div>
  
              <div class="container-filter-input">
                <ion-radio 
                  value="amount" 
                  color="primary">
                </ion-radio>
                <ion-label>Quantidade</ion-label>
              </div>
            </ion-radio-group>
  
            <ion-item-divider></ion-item-divider>
  
            <ion-item-group>
              <ion-item>
                <ion-label>Valor Mínimo</ion-label>
                <ion-input label-placement="floating" fill="outline" placeholder="min." formControlName="minValue"></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label>Valor Máximo</ion-label>
                <ion-input label-placement="floating" fill="outline" placeholder="máx." formControlName="maxValue"></ion-input>
              </ion-item>
            </ion-item-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-menu-toggle>
        <ion-button 
          (click)="onSubmit()"
          class="ion-margin btn"
          shape="round"
          expand="full">
          Filtrar
        </ion-button>
      </ion-menu-toggle>
    </form>
  </ion-content>
</ion-menu>