<app-header [searchbar]="true"></app-header>

<ion-content class="ion-padding-bottom" id="content">
  <div class="container-buttons">
    <app-filter (onFilter)="filterProducts($event)"></app-filter>
    <ion-button color="tertiary" shape="round" routerLink="/estoque/registrar">
      Novo produto
    </ion-button>
  </div>

  <div class="container-products" *ngIf="pageableProducts">
    <app-product-item *ngFor="let product of pageableProducts" [product]="product">
    </app-product-item>
  </div>

  <div 
    *ngIf="!pageableProducts?.length && isLoading"
    class="container-not-found">
    <p>Não há produtos cadastrados</p>
  </div>
  
  <div *ngIf="!isLoading" class="container-loading">
    <ion-spinner color="primary" name="crescent">
    </ion-spinner>
  </div>

  <app-pagination 
    *ngIf="pageableProducts?.length && isLoading"
    (pageChange)="paginate($event)" 
    [totalRecords]="totalRecords">
  </app-pagination>
</ion-content>