
<app-header [searchbar]="true"></app-header>

<ion-content class="ion-padding-bottom" id="content">
  <div class="container-buttons">
    <app-filter (onFilter)="filterProducts($event)"></app-filter>
    <ion-button color="tertiary" shape="round" routerLink="/estoque/registrar">
      Novo produto
    </ion-button>
  </div>

  <div class="container-products" *ngIf="pageableProducts; else loading">
    <app-product-item 
      *ngFor="let product of pageableProducts" 
      [product]="product">
    </app-product-item>
  </div>
  
  <app-pagination
    (pageChange)="paginate($event)"
    [totalRecords]="totalRecords">
  </app-pagination>
</ion-content>

<ng-template #loading>
  <div class="container-loading">
    <ion-spinner 
      color="primary" 
      name="crescent">
    </ion-spinner>
  </div>
</ng-template>
