<div class="ion-page" id="main-content">
  <ion-header>
    <div class="container">
      <ion-menu-button></ion-menu-button>

      <img src="../../../../../assets/images/logo-header.svg" alt="">

      <a href="app/admin/funcionario" class="container-icon">
        <img src="../../../../../assets/images/person.svg" alt="" class="icon">
      </a>
    </div>
  </ion-header>
</div>

<ion-menu contentId="main-content">
  <ion-header>
    <div class="container">
      <ion-menu-button></ion-menu-button>
    </div>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="container-links-menu">
      <a class="link">
        <p>Usuário</p>
        <img src="../../../../../assets/images/person.svg" alt="" class="icon">
      </a>
      <a class="link">
        <p>Caixa</p>
        <img src="../../../../../assets/images/attach_money.svg" alt="" class="icon">
      </a>
      <a class="link">
        <p>Estoque</p>
        <img src="../../../../../assets/images/inventory_2.svg" alt="" class="icon">
      </a>
      <a class="link">
        <p>Clientes</p>
        <img src="../../../../../assets/images/groups.svg" alt="" class="icon">
      </a>
      <a class="link">
        <p>Fornecedor</p>
        <img src="../../../../../assets/images/local_shipping.svg" alt="" class="icon">
      </a>
    </div>
  </ion-content>
</ion-menu>
