@import "src/assets/styles/styles.scss";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-brand-green-600;
  overflow-y: scroll;
}

img {
  width: 161px;
}

ion-card {
  position: fixed;
  bottom: 0;
  min-height: 450px;
  border-radius: 16px 16px 0 0;
  width: 100%;
}

ion-button {
  width: fit-content;
}

ion-item {
  width: 100%;
  --border-color: #697069;
  --highlight-color-focused: $color-brand-green-500;
}

.container {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  &-input {
    width: 100%;
  }
}

.card-content-md {
  padding: 0 1rem;
}
