<body>
  <img src="../../../../../assets/images/logo-container.svg" alt="" />
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title ion-text-center">login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form action="" class="container-form">
        <ion-item fill="outline">
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            placeholder="exemplo@exemplo.com.br"
          ></ion-input>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" placeholder="********"></ion-input>
        </ion-item>
        <p class="text ion-text-center">Esqueceu sua senha?</p>
        <ion-button color="tertiary" type="submit" shape="round"
          >Login</ion-button
        >
      </form>
    </ion-card-content>
    <div>
      <div class="container-social">
        <div class="social-media"></div>
        <div class="social-media"></div>
        <div class="social-media"></div>
      </div>
      <div class="container-link">
        <p class="text">Ainda não tem uma conta?</p>
        <a href="" class="text">Cadraste-se</a>
      </div>
    </div>
  </ion-card>
</body>
