<body>
  <img 
    src="../../../../../assets/images/logo-container.svg" 
    alt="" />
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title ion-text-center">
        login
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form 
        [formGroup]="this.loginForm"
        class="container-form">
        <div class="container-input">
          <ion-item fill="outline">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="email"
              placeholder="exemplo@exemplo.com.br"
              formControlName="email">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="submitValidationRequired()">
            <p class="error-message">É necessario preencher o campo Email</p>
          </ion-text>
        </div>

        <div class="container-input">
          <ion-item fill="outline">
            <ion-label position="floating">Senha</ion-label>
            <ion-input 
              type="password" 
              placeholder="********"
              formControlName="password">
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="submitValidationRequired()">
            <p class="error-message">É necessario preencher o campo Senha</p>
          </ion-text>
        </div>

        <a class="text ion-text-center">Esqueceu sua senha?</a>

        <ion-button 
          color="tertiary" 
          shape="round"
          (click)="onSubmit()">
          Login
        </ion-button>
      </form>
    </ion-card-content>

    <app-social-media></app-social-media>
    
    <div class="container-link">
      <p class="text">Ainda não tem uma conta?</p>
      <a href="/sign/register" class="text">Cadraste-se</a>
    </div>
  </ion-card>
</body>
