@import "src/assets/styles/styles.scss";

.container-products {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75%;
  padding: 1rem;
  overflow: scroll;
}

.container-total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: .25rem 1rem;
  border-top: 1px solid $ion-color-light-shade;
}

.container-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: .25rem 0;
  border-bottom: 1px solid $ion-color-light-shade;
}

.price {
  display: block;
  text-align: end;
  min-width: 100px;
  border-left: 1px solid $ion-color-light-shade;
}

.total {
  display: block;
  text-align: end;
  min-width: 100px;
  margin: .25rem 0;
}

label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60%;
}

.price::before {
  content: "R$";
}

.nav-button {
  width: 150px;
  --border-radius: 1rem;
}

ion-fab {
  position: absolute;
  right: 1rem;
  top: 85% !important;
}

ion-fab-list {
  right: 0rem;
}
