<app-header></app-header>


<ion-content>
  <div class="container-products">
    <div class="container-item" *ngFor="let product of products$ | async">
      <label>{{ product.name }}</label>
      <label><span class="price">{{ product.price }}</span></label>
    </div>
  </div>
  <div class="container-total">
    <label>Total: </label>
    <label>
      <span class="total">{{this.totalPrice.toFixed(2)}}</span>
    </label>

  </div>

  <ion-fab slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="tertiary" class="nav-button">
        <p>Cancelar compra</p>
      </ion-fab-button>

      <ion-fab-button color="tertiary" class="nav-button" (click)="newProduct()">
        <p>Novo produto</p>
      </ion-fab-button>

      <ion-fab-button color="tertiary" class="nav-button" (click)="newRequest()">
        <p>Finalizar compra</p>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-menu-tab></app-menu-tab>
  </ion-toolbar>
</ion-footer>


