@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Ionic scss variables tokens */
$ion-color-primary: #113112;
$ion-color-primary-rgb: 17,49,18;
$ion-color-primary-contrast: #F2F2F2;
$ion-color-primary-contrast-rgb: 255,255,255;
$ion-color-primary-shade: #0f2b10;
$ion-color-primary-tint: #29462a;

$ion-color-secondary: #69956B;
$ion-color-secondary-rgb: 105,149,107;
$ion-color-secondary-contrast: #000000;
$ion-color-secondary-contrast-rgb: 0,0,0;
$ion-color-secondary-shade: #5c835e;
$ion-color-secondary-tint: #78a07a;

$ion-color-tertiary: #226325;
$ion-color-tertiary-rgb: 34,99,37;
$ion-color-tertiary-contrast: #F2F2F2;
$ion-color-tertiary-contrast-rgb: 255,255,255;
$ion-color-tertiary-shade: #1e5721;
$ion-color-tertiary-tint: #38733b;

$ion-color-success: #28ba62;
$ion-color-success-rgb: 40,186,98;
$ion-color-success-contrast: #000000;
$ion-color-success-contrast-rgb: 0,0,0;
$ion-color-success-shade: #23a456;
$ion-color-success-tint: #3ec172;

$ion-color-warning: #ffc409;
$ion-color-warning-rgb: 255,196,9;
$ion-color-warning-contrast: #000000;
$ion-color-warning-contrast-rgb: 0,0,0;
$ion-color-warning-shade: #e0ac08;
$ion-color-warning-tint: #ffca22;

$ion-color-danger: #B3261E;
$ion-color-danger-rgb: 179,38,30;
$ion-color-danger-contrast: #ffffff;
$ion-color-danger-contrast-rgb: 255,255,255;
$ion-color-danger-shade: #9e211a;
$ion-color-danger-tint: #bb3c35;

$ion-color-medium: #697069;
$ion-color-medium-rgb: 105,112,105;
$ion-color-medium-contrast: #F2F2F2;
$ion-color-medium-contrast-rgb: 255,255,255;
$ion-color-medium-shade: #5c635c;
$ion-color-medium-tint: #787e78;

$ion-color-light: #CCCCCC;
$ion-color-light-rgb: 204,204,204;
$ion-color-light-contrast: #000000;
$ion-color-light-contrast-rgb: 0,0,0;
$ion-color-light-shade: #b4b4b4;
$ion-color-light-tint: #d1d1d1;


/* Colors Variables tokens */
$bg-color-white-900: #F2F2F2;
$bg-color-black-900: #131313;

$colors-danger: #D8231A;

$colors-brand-green-900: #D3E0D3;
$colors-brand-green-800: #AFC7B0;
$colors-brand-green-700: #8CAD8D;
$colors-brand-green-600: #69956B;
$colors-brand-green-500: #417944;
$colors-brand-green-400: #226325;
$colors-brand-green-300: #194A1C;
$colors-brand-green-200: #113112;
$colors-brand-green-100: #113112;

$colors-brand-neutral-900: #E5E5E5;
$colors-brand-neutral-800: #CCCCCC;
$colors-brand-neutral-700: #B2B2B2;
$colors-brand-neutral-600: #999999;
$colors-brand-neutral-500: #7F7F7F;
$colors-brand-neutral-400: #666666;
$colors-brand-neutral-300: #4C4C4C;
$colors-brand-neutral-200: #333333;
$colors-brand-neutral-100: #191919;

$colors-brand-neutral-alternative-900: #BECABE;
$colors-brand-neutral-alternative-800: #A9B3A9;
$colors-brand-neutral-alternative-700: #949D94;
$colors-brand-neutral-alternative-600: #7F867F;
$colors-brand-neutral-alternative-500: #697069;
$colors-brand-neutral-alternative-400: #545A54;
$colors-brand-neutral-alternative-300: #3F433F;
$colors-brand-neutral-alternative-200: #2A2D2A;
$colors-brand-neutral-alternative-100: #151615;

$font-color-black-900: $colors-brand-neutral-100;
$font-color-black-400: $colors-brand-neutral-400;
$font-color-danger: #B3261E;

/* Fonts Variables tokens */
$font-normal-12: 400 0.75rem 'Roboto';
$font-normal-14: 400 0.875rem 'Roboto';
$font-normal-16: 400 1rem 'Roboto';
$font-normal-18: 400 1.125rem 'Roboto';
$font-normal-20: 400 1.25rem 'Roboto';
$font-normal-24: 400 1.5rem 'Roboto';
$font-normal-32: 400 2rem 'Roboto';

$font-semibold-12: 500 0.75rem 'Roboto';
$font-semibold-14: 500 0.875rem 'Roboto';
$font-semibold-16: 500 1rem 'Roboto';
$font-semibold-18: 500 1.125rem 'Roboto';
$font-semibold-20: 500 1.25rem 'Roboto';
$font-semibold-24: 500 1.5rem 'Roboto';
$font-semibold-32: 500 2rem 'Roboto';

$font-bold-12: 700 0.75rem 'Roboto';
$font-bold-14: 700 0.875rem 'Roboto';
$font-bold-16: 700 1rem 'Roboto';
$font-bold-18: 700 1.125rem 'Roboto';
$font-bold-20: 700 1.25rem 'Roboto';
$font-bold-24: 700 1.5rem 'Roboto';
$font-bold-32: 700 2rem 'Roboto';

//Border Radius Variables
$border-radius-circle: 50%;
$border-radius-8: 0.5rem;
$border-radius-4: 0.25rem;
$border-radius-12: 0.75rem;
$border-radius-16: 1rem;

//Elevation Variables
$elevation-m1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
$elevation-m2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
$elevation-m3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
$elevation-m4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
$elevation-m5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);