@import "src/assets/styles/styles.scss";

h2 {
  font: $font-bold-32;
  color: $bg-color-white-900;
}

.container {
  &-main {
    background-color: $bg-color-white-900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .container {
      background-color: $ion-color-primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 90%;
      border-radius: 1rem;
      padding: 1rem;
    }
  }

  &-logo {
    margin: 2rem 0;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      background-color: transparent;
      color: $bg-color-white-900;
      padding: .5rem;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-white-900;
  width: 100%;
  min-height: 50px;
  border-radius: 1rem;
  margin: 1rem;

  div {
    padding: 1rem;
  }
}

.container-total {
  padding: 1rem;
}